body { background-color: #3399CC;
  background-image: linear-gradient(to bottom,#3399CC,#C2E0F0,#3399CC);
      color: #666666;
	  font-family: Verdana, Arial, sans-serif;
}
header { background-color: #000033;
         color: #FFFFFF;
		 font-family: Georgia, serif;
}
h1 { line-height: 200%;
background-image: url("sunset.jpg") ;
background-repeat: no-repeat;
height: 72px;
padding-left: 2em;
background-position: right;
margin-bottom: 0;
}
nav { font-weight: bold;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
      background-color: #90C7E3;
}
nav a { text-decoration: none;}
h2 { color: #3399CC;
     font-family: Georgia, serif;
}
h3{color:#000033;}
dt { color: #000033;
   font-weight: bold;
}
main{padding-left: 2em;
padding-right: 2em;}
.resort { color: #000033;
          font-size: 1.2em;
}
footer { font-size: .70em;
         font-style: italic;
		 text-align: center;
     padding: 1em;
}
#homehero{height: 300px;
background-image: url(coast.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;}
#yurthero{height: 300px;
background-image: url(yurt.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;}
#trailhero{height: 300px;
background-image: url(trail.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;}

#wrapper { width: 80%;
          margin-left: auto;
		  margin-right: auto;
      background-color: #FFFFFF;
      min-width: 700px;
      max-width: 1024px;
      box-shadow: 10px 10px 5px  black;
}
